doctype html
html(lang="en")
  include ../include/head

  body(style={'padding-top': '80px'})
    div.container-fluid
      div.page-header.text-center
        h1= player.name
      div.row-fluid
        div.col-sm-6.col-sm-offset-3
          div.well
            p
              strong XI
              |:&#32;
              = player.xi
            p
              strong Position
              |:&#32;
              = player.position

            br

            p
              strong Points
              |:&#32;
              = player.points
            p
              strong Appearances
              |:&#32;
              = player.appearances
            p
              strong Goals
              |:&#32;
              = player.goals
            p
              strong Assists
              |:&#32;
              = player.assists
            p
              strong Clean sheets
              |:&#32;
              = player.cleansheets
            p
              strong MOTM awards
              |:&#32;
              = player.motms
            p
              strong Yellow cards
              |:&#32;
              = player.yellowcards
            p
              strong Red cards
              |:&#32;
              = player.redcards

    include ../include/footer
