<div class="row-fluid">
  <div class="col-sm-4 col-sm-offset-2">
    <h1>Create your team</h1>
    <form ng-submit="$ctrl.onSubmit()" name="$ctrl.teamForm" novalidate>
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter the team's name"
          ng-model="$ctrl.team.name"
          required />
      </div>
      <div class="form-group">
        <label for="formation" class="control-label">Formation</label>
        <select
          class="form-control"
          id="formation"
          ng-model="$ctrl.team.formation"
          ng-change="$ctrl.formationChange()"
          ng-options="formation for formation in $ctrl.formations"
          required>
        </select>
      </div>
      <players-drag-panel title="'Your goalkeeper'" list="$ctrl.team.goalkeepers" position="'goalkeeper'">
      </players-drag-panel>
      <players-drag-panel title="'Your defenders'" list="$ctrl.team.defenders" position="'defender'">
      </players-drag-panel>
      <players-drag-panel title="'Your midfielders'" list="$ctrl.team.midfielders" position="'midfielder'">
      </players-drag-panel>
      <players-drag-panel title="'Your attackers'" list="$ctrl.team.attackers" position="'attacker'">
      </players-drag-panel>
      <button
        type="submit"
        class="btn btn-default">Create the team!
      </button>
    </form>
  </div>
  <div class="col-sm-4">
    <players-drag-panel title="'All goalkeepers'" list="$ctrl.goalkeepers" position="'goalkeeper'">
    </players-drag-panel>
    <players-drag-panel title="'All defenders'" list="$ctrl.defenders" position="'defender'">
    </players-drag-panel>
    <players-drag-panel title="'All midfielders'" list="$ctrl.midfielders" position="'midfielder'">
    </players-drag-panel>
    <players-drag-panel title="'All attackers'" list="$ctrl.attackers" position="'attacker'">
    </players-drag-panel>
  </div>
</div>
