doctype html
html
  include ./include/head

  body(style={'padding-top': '80px'})
    div.container-fluid
      div.col-sm-6.col-sm-offset-3
        h2.text-center Add your player

        br

        include ./mixins/playerform
        +playerform("post")

    include ./include/footer
