head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  title ICUAFC Fantasy Football

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

  script(src="/app/app.module.js")
  script(src="/app/app.config.js")
  script(src="/app/team-table/team-table.module.js")
  script(src="/app/team-table/team-table.component.js")
  script(src="/app/team-detail/team-detail.module.js")
  script(src="/app/team-detail/team-detail.component.js")
  script(src="/app/core/core.module.js")
  script(src="/app/core/team/team.module.js")
  script(src="/app/core/team/team.service.js")
  script(src="/app/core/player/player.module.js")
  script(src="/app/core/player/player.service.js")

  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
