head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title ICUAFC Fantasy Football
  link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
