div.well
  p
    strong Name
    |:&#32;
    = player.firstname + " " + player.surname
  p
    strong XI
    |:&#32;
    = player.xi
  p
    strong Position
    |:&#32;
    = player.position

  br

  p
    strong Points
    |:&#32;
    = player.points
  p
    strong Goals
    |:&#32;
    = player.goals
  p
    strong Assists
    |:&#32;
    = player.assists
  p
    strong Clean sheets
    |:&#32;
    = player.cleansheets
  p
    strong MOTM awards
    |:&#32;
    = player.motms
  p
    strong Yellow cards
    |:&#32;
    = player.yellowcards
  p
    strong Red cards
    |:&#32;
    = player.redcards
