div#teamModal.modal.fade(tabindex="-1" role="dialog")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        button.close(
          type="button",
          data-dismiss="modal")
          span &times;
        h4.modal-title#teamModalLabel Create your team
      div.modal-body
        include ./teamForm
