<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-2 col-sm-offset-2">
      <!--Sidebar content-->
      <search query="$ctrl.query" order="$ctrl.orderProp"></search>

      <p class="text-center" ng-show="$ctrl.isLoggedIn && !$ctrl.player()">
        Add your player <a href="#!/create-player">here</a>!
      </p>

      <div>
        <button class="btn btn-primary"
                      ng-csv="$ctrl.players"
                      filename="players_table.csv"
                      csv-header="$ctrl.getHeaders();">
        Export to CSV
      </button>
      </div>
    </div>
    <div class="col-sm-6">
      <!--Body content-->
      <h1 class="text-center">Players table</h1>
      <table class="table table-striped table-responsive">
        <thead class="teams">
          <th>Player name</th>
          <th ng-if="$ctrl.isAdmin">Edit/Delete</th>
          <th>Points</th>
          <th>Apps</th>
          <th>Goals</th>
          <th>Assists</th>
          <th>CSs</th>
          <th>MOTMs</th>
          <th>Yellows</th>
          <th>Reds</th>
          <th>OGs</th>
        </thead>
        <tbody>
          <tr ng-repeat="player in $ctrl.players | filter: $ctrl.query | orderBy: $ctrl.orderProp : $ctrl.orderProp === 'points'">
            <td>
              <a ng-href="#!/players/{{ player._id }}">{{ player.name }}</a>
            </td>
            <td ng-if="$ctrl.isAdmin">
              <a ng-href="#!/players/edit/{{ player._id }}" class="btn btn-sm btn-primary">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </a>
              <button ng-click="$ctrl.delete(player)" class="btn btn-sm btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
            <td>{{ player.points }}</td>
            <td>{{ player.appearances }}</td>
            <td>{{ player.goals }}</td>
            <td>{{ player.assists }}</td>
            <td>{{ player.cleansheets }}</td>
            <td>{{ player.motms }}</td>
            <td>{{ player.yellowcards }}</td>
            <td>{{ player.redcards }}</td>
            <td>{{ player.owngoals }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
