mixin playerModal(method)
  div#playerModal.modal.fade(tabindex="-1" role="dialog")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(
            type="button",
            data-dismiss="modal")
            span &times;
          h4.modal-title#playerModalLabel Create your player
        div.modal-body
          include ./playerForm
          +playerForm(method)
