<div class="container-fluid">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Log in</h1>
    <p>
      Or <a ng-href="#!/register">register</a> if you need to
    </p>
    <form ng-submit="$ctrl.onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Enter your username"
          ng-model="$ctrl.credentials.username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          ng-model="$ctrl.credentials.password">
      </div>
      <button
        type="submit"
        class="btn btn-default">Log in!</button>
    </form>
  </div>
</div>
