<div class="container-fluid">
  <div class="col-sm-4 col-sm-offset-2">
    <h1>Edit player</h1>
    <form ng-submit="$ctrl.onSubmit()" name="$ctrl.playerForm" novalidate>
      <div
        class="form-group"
        ng-class="{
          'has-error': $ctrl.playerForm.name.$invalid && $ctrl.playerForm.name.$touched
        }">
        <label class="control-label" for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Player name"
          ng-model="$ctrl.player.name"
          ng-pattern="'\\w+ \\w+'"
          required />
        <span class="help-block"
              ng-show="$ctrl.playerForm.name.$invalid && $ctrl.playerForm.name.$touched">
          Name must be the first and second name separated by a space
        </span>
      </div>

      <div class="form-group">
        <label class="control-label" for="position">Position</label>
        <select
          class="form-control"
          id="position"
          ng-model="$ctrl.player.position"
          ng-options="position for position in $ctrl.positions"
          required>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label" for="xi">XI</label>
        <select
          class="form-control"
          id="xi"
          ng-model="$ctrl.player.xi"
          ng-options="xi for xi in $ctrl.xis"
          required>
        </select>
      </div>

      <label class="control-label" for="value">Value</label>
      <div
        class="form-group input-group"
        ng-class="{
          'has-error': $ctrl.playerForm.value.$invalid && $ctrl.playerForm.value.$dirty
        }">
        <span class="input-group-addon">£</span>
        <input
          class="form-control"
          type="number"
          min="0"
          max="10"
          name="value"
          id="value"
          ng-model="$ctrl.player.value"
          required>
        </input>
        <span class="input-group-addon">Mil</span>
      </div>

      <div class="form-group">
        <label class="control-label" for="apps">Appearances</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="apps"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.appearances"
          required />
      </div>

      <div class="form-group">
        <label class="control-label" for="subs">Sub appearances</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="subs"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.subs"
          required />
      </div>

      <div class="form-group">
        <label class="control-label" for="goals">Goals</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="goals"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.goals"
          required />
      </div>

      <div class="form-group">
        <label class="control-label" for="assists">Assists</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="assists"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.assists"
          required />
      </div>

      <div class="form-group">
        <label class="control-label" for="cleansheets">Clean sheets</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="cleansheets"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.cleansheets"
          required />
      </div>

      <div class="form-group">
        <label class="control-label" for="motms">Man of the matches</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="motms"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.motms"
          required />
      </div>

      <div class="form-group">
        <label class="control-label" for="owngoals">Own goals</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="owngoals"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.owngoals"
          required />
      </div>

      <div class="form-group">
        <label class="control-label" for="yellowcards">Yellows</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="yellowcards"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.yellowcards"
          required />
      </div>

      <div class="form-group">
        <label class="control-label" for="redcards">Reds</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="redcards"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.redcards"
          required />
      </div>

      <button
        type="submit"
        class="btn btn-primary">Update this player!
      </button>
    </form>
  </div>
  <div class="col-sm-4">
    <player-detail player="$ctrl.player"></player-detail>
  </div>
</div>
