<div class="row-fluid">
  <div class="col-sm-6">
    <player-detail player="$ctrl.player"></player-detail>
  </div>
  <div class="col-sm-6">
    <h1>Edit player</h1>
    <form ng-submit="$ctrl.onSubmit()" novalidate>
      <div class="form-group">
        <label for="name">Player Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          ng-model="$ctrl.player.name" />
      </div>
      <div class="form-group">
        <label for="position">Position</label>
        <select
          class="form-control"
          id="position"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.position"
          ng-options="position for position in $ctrl.positions">
        </select>
      </div>
      <div class="form-group">
        <label for="xi">XI</label>
        <select
          class="form-control"
          id="xi"
          ng-model="$ctrl.player.xi"
          ng-options="xi for xi in $ctrl.xis" />
      </div>
      <div class="form-group">
        <label for="apps">Appearances</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="apps"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.appearances" />
      </div>
      <div class="form-group">
        <label for="goals">Goals</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="goals"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.goals" />
      </div>
      <div class="form-group">
        <label for="assists">Assists</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="assists"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.assists" />
      </div>
      <div class="form-group">
        <label for="cleansheets">Clean sheets</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="cleansheets"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.cleansheets" />
      </div>
      <div class="form-group">
        <label for="motms">Man of the matches</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="motms"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.motms" />
      </div>
      <div class="form-group">
        <label for="owngoals">Own goals</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="owngoals"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.owngoals" />
      </div>
      <div class="form-group">
        <label for="yellowcards">Yellows</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="yellowcards"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.yellowcards" />
      </div>
      <div class="form-group">
        <label for="redcards">Reds</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="redcards"
          ng-change="$ctrl.onChange()"
          ng-model="$ctrl.player.redcards" />
      </div>
      <div class="form-group">
        <label for="admin">Admin</label>
        <input
          class="form-control"
          type="checkbox"
          id="admin"
          ng-model="$ctrl.player.admin" />
      </div>
      <button
        type="submit"
        class="btn btn-default">Update this player!
      </button>
    </form>
  </div>
</div>
