<div class="well col-sm-2 col-sm-offset-1">
  <h1>
    <strong>{{ $ctrl.team.name }}</strong>
  </h1>
  <p>
    <strong>Value</strong>: {{ $ctrl.team.value | currency : "£" }} Mil
  </p>

  <p>
    <strong>Points</strong>: {{ $ctrl.team.points }}
  </p>

  <p>
    <strong>Formation</strong>: {{ $ctrl.team.formation }}
  </p>
</div>

<div class="col-sm-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Goalkeeper</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="gk in $ctrl.team.goalkeepers">
          <a style="display: block;" ng-href="#!/players/{{ gk._id }}">
            <img class="img-thumbnail img-responsive" style="height: auto; width: auto; max-height: 30px; max-width: 30px; border: none;" src="../images/Shirt.png">
            {{ gk.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Defenders</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="def in $ctrl.team.defenders">
          <a style="display: block;" ng-href="#!/players/{{ def._id }}">
            <img class="img-thumbnail img-responsive" style="height: auto; width: auto; max-height: 30px; max-width: 30px; border: none;" src="../images/Shirt.png">
            {{ def.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Midfielders</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="mid in $ctrl.team.midfielders">
          <a style="display: block;" ng-href="#!/players/{{ mid._id }}">
            <img class="img-thumbnail img-responsive" style="height: auto; width: auto; max-height: 30px; max-width: 30px; border: none;" src="../images/Shirt.png">
            {{ mid.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Attackers</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="att in $ctrl.team.attackers">
          <a style="display: block;" ng-href="#!/players/{{ att._id }}">
            <img class="img-thumbnail img-responsive" style="height: auto; width: auto; max-height: 30px; max-width: 30px; border: none;" src="../images/Shirt.png">
            {{ att.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
