<div class="col-sm-2">
  <h1>
    <strong>Name</strong>: {{ $ctrl.team.name }}
  </h1>

  <p>
    <strong>Points</strong>: {{ $ctrl.team.points }}
  </p>

  <p>
    <strong>Formation</strong>: {{ $ctrl.team.formation }}
  </p>
</div>

<div class="col-sm-2">
  <h3>Goalkeeper</h3>
  <p ng-repeat="gk in $ctrl.team.goalkeepers">
    <a ng-href="#!/players/{{ gk._id }}">{{ gk.name }}</a>
  </p>
</div>

<div class="col-sm-2">
  <h3>Defenders</h3>
  <p ng-repeat="def in $ctrl.team.defenders">
    <a ng-href="#!/players/{{ def._id }}">{{ def.name }}</a>
  </p>
</div>

<div class="col-sm-2">
  <h3>Midfielders</h3>
  <p ng-repeat="mid in $ctrl.team.midfielders">
    <a ng-href="#!/players/{{ mid._id }}">{{ mid.name }}</a>
  </p>
</div>

<div class="col-sm-2">
  <h3>Attackers</h3>
  <p ng-repeat="att in $ctrl.team.attackers">
    <a ng-href="#!/players/{{ att._id }}">{{ att.name }}</a>
  </p>
</div>

<div class="col-sm-2">
  <h3>Substitutes</h3>
  <p ng-repeat="sub in $ctrl.team.substitutes">
    <a ng-href="#!/players/{{ sub._id }}">{{ sub.name }}</a>
  </p>
</div>
